/* Styles */

* {
    font-family: 'Roboto', 'Arial';
}

.section1 {
    background-color: #1F2937;
    color: #FFFFFF;
    padding-left: 200px;
    padding-right: 200px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
}

a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-list {
    padding-left: 10px;
    padding-right: 10px;
}

.main-text {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.random-information{
    display: 
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}

.square {
    height: 50px;
    width: 50px;
    border: 2px solid #3882F6;
    border-radius: 5px;

}

